
/*responsive*/
@media screen and (max-width: 800px){
  .left-column, .menu-bar, .menu-item{
    width:100%;
    padding:0;
    margin: 0;
  }
}

.responsive {
  width: auto;
  height: auto;
}

/* body css section */
*{
  box-sizing: border-box;
}

body{
  color: black;
  background-color: white;
  font-family: Arial, Helvetica,sans-serif;
  line-height: 1.6;
}

#header{
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica,sans-serif;
  padding-top: 30px;
  padding-left: 15px;
}

.brgy-vaxx p {
  padding: 8px 20px;
}

.brgy-dropdown {
  margin: 0px 20px;
}
.date{
  padding-top:3px;
  font-style: italic;
}

.left-column{
  float:left;
  width: 100%;
  height: 0vh;

}

a{
  color: #165ba2;
}

.card{
  border: 1.5px solid #e0dcdc;
  border-radius: 8px;
  padding: 22.5px;
  margin: 20px 15px 0px 15px;
}

#disclaimer{
  color: black;
  background-color: white;
  font-size: small;
  font-style: italic;
  padding-top:8px;
  margin-bottom: -10px;
}
